:host{
  display: flex;
  flex-wrap: wrap;
}

.container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.header{
  text-align: center;
  background: #584d97;
  border-radius: 5000px;
  backdrop-filter: brightness(0.5);
  width: 100%;
}

form {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  padding:10px

}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 25%;
  margin-left:35px;
  text-align: center;
  font-size: 4.5rem;
  border-radius: 10px;
}

input::placeholder{
  font-size:4.0rem
}

@media only screen and (max-width: 768px) {
  input::placeholder{
    font-size:1.5rem
  }
}



input:focus {
  outline: none;
}

.stats {
  width: 100%;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.2rem;
}



.closet {
  background-color: aquamarine;
}
